{% extends "main/base.html" %}

{% block title %}Вхід{% endblock title %}

{% block content %}

     <div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
            <div class="card shadow p-4" style="width: 100%; max-width: 400px;">
                <h3 class="card-title text-center mb-4">Вхід</h3>
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="text" class="form-label">Логін</label>
                            {{ form.username }}<br>
                    </div>
                    <div class="mb-4">
                        <label for="text" class="form-label">Пароль</label>
                            {{ form.password }}<br>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Увійти</button>
                    <div>
                    <p><a href="{% url 'password_reset' %}">Забули пароль?</a></p>
                    <a href="{% url 'register' %}">Зареєструватися</a>
                        </div>
                </form>
            </div>
        </div>




{% endblock content %}